/* reference link https://www.w3schools.com/howto/howto_css_topnav_centered.asp */
/* Style the links inside the navigation bar */
  /* .topnav h2 {
    float: left;
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
  } */
  
  /* Centered section inside the top navigation */
    .topnav-centered h2 {
    float: none;
    position: absolute;
    color: dodgerblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
 /* @media screen and (max-width: 600px) {
    .topnav h2, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered h2 {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  } */