<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-space" (click) = "selectComponent('new')" routerLink = "/tenants/new">Add Tenant</button>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-space" (click) = "selectComponent('list')" routerLink = "/tenants/all">Display All Tenants</button>
                </div>
                &nbsp;&nbsp;&nbsp;
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-info btn-space" (click) = "selectComponent('update')" routerLink = "/tenants/update">Update</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-space" (click) = "selectComponent('delete')" routerLink = "/tenants/delete">Vecate</button>
                </div> -->
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-space" (click) = "selectComponent('delete')" routerLink = "/tenants/checklist">Daily Check List</button>
                </div>&nbsp;&nbsp;&nbsp;
                <div class="btn-group">
                        <button type="button" class="btn btn-info btn-space" (click) = "selectComponent('search')" routerLink = "/tenants/search">Search</button>
                </div>
                <!-- <div class="box">
                    <div class="container-2">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeaved()" #searchElement placeholder="Search..." />
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>