<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-space" (click) = "selectComponent('tenant_new')" routerLink = "tenants/tenant_new">New Tenant</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-space" (click) = "selectComponent('tenants_list')" routerLink = "tenants/tenants_list">Display All</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-space" (click) = "selectComponent('tenant_update')" routerLink = "tenant_update">Update Tenant</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-space" (click) = "selectComponent('tenant_delete')" routerLink = "tenant_delete">Vecate Tenant</button>
                </div>
                <div class="box">
                    <div class="container-2">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeaved()" #searchElement placeholder="Search..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>