<div class="row">
    <label for="search">Search:</label>
    <input class="form-control" 
        type="text" 
        id="search" 
        [(ngModel)]="searchTxt" 
        placeholder="Please enter to search by name" 
        autocomplete="off">
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Block ID</th>
            </tr>
        </thead>
        <tbody>
            <!-- <ng-content class="table table-striped table-hover"></ng-content> -->
            <!-- TODO: Add code to switch tables based on block click -->
            <!-- <tr *ngFor = "let tenant of tenants">
                    <td *ngIf = "tenant.block_id === selectedBlockId">{{tenant.t_name}}</td>
                    <td *ngIf = "tenant.block_id === selectedBlockId">{{tenant.t_address}}</td>
                    <td *ngIf = "tenant.block_id === selectedBlockId">{{tenant.t_phone}}</td>
                    <td *ngIf = "tenant.block_id === selectedBlockId">{{tenant.block_id}}</td>
                    <td *ngIf = "tenant.block_id === selectedBlockId"> <button class="btn btn-danger" (click) = "onDelete(tenant)">Delete</button></td>
                </tr> -->
                <tr *ngFor = "let tenant of tenants2 | filter : searchTxt ">
                        <td>{{tenant.name}}</td>
                        <td>{{tenant.address}}</td>
                        <td>{{tenant.mobile}}</td>
                        <td>{{tenant.bId}}</td>
                        <td> <button class="btn btn-danger" (click) = "onDelete(tenant)">Delete</button></td>
                        <td> <button class="btn btn-danger" (click) = "onEdit(tenant.id)">Edit</button></td>
                    </tr>
        </tbody>
    </table>
</div>