<div class="container">
    <div class="row">
        <form [formGroup]="checklistForm"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="incharge_name">Incharge Name: </label>
                <input type="text" formControlName="incharge_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="checklist_date">CheckList Date:</label>
                <input type="date" formControlName="checklist_date" class="form-control">
            </div>
            <div class="form-group">
                <label for="opening_balance">Opening Balance: </label>
                <input type="number" formControlName="opening_balance" class="form-control">
            </div>
            <div class="form-group">
                <label for="admissions">Admissions: </label>
                <input type="number" formControlName="admissions" class="form-control">
            </div>
            <div class="form-group">
                <label for="vacancies">Vacancies: </label>
                <input type="number" formControlName="vacancies" class="form-control">
            </div>
            <div class="form-group">
                <label for="notice_periods">Notice Periods: </label>
                <input type="number" formControlName="notice_periods" class="form-control">
            </div>
            <div class="form-group">
                <label for="complaints">Compltaints: </label>
                <input type="text" formControlName="complaints" class="form-control">
            </div>
            <div class="form-group">
                <label for="collections_cash">Collections(Cash): </label>
                <input type="number" formControlName="collections_cash" class="form-control">
            </div>
            <div class="form-group">
                <label for="collections_ac">Collections(A/C): </label>
                <input type="number" formControlName="collections_ac" class="form-control">
            </div>
            <div class="form-group">
                <label for="collections_pending">Collections(Pending): </label>
                <input type="number" formControlName="collections_pending" class="form-control">
            </div>
            <div class="form-group">
                <label for="closing_balance">Colsing Balance: </label>
                <input type="number" formControlName="closing_balance" class="form-control">
            </div>
            <div class="form-group">
                <label for="water_tankers">Water Tankers: </label>
                <input type="number" formControlName="water_tankers" class="form-control">
            </div>
            <div class="form-group">
                <label for="misc">Others: </label>
                <input type="text" formControlName="misc" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-secondary">Reset</button>
        </form>
    </div>
</div>