<div class="container">
  <div class="row">
    <form [formGroup]="signUpForm" (ngSubmit)= "onSubmit()">
      <div class="form-group">
        <label for="fullname">Full Name:</label>
        <input 
          type="text"
          formControlName="fullname"
          class="form-control">
          <span 
            *ngIf="!signUpForm.get('fullname').valid && signUpForm.get('fullname').touched"
            class="help-block">Please enter Name!</span>
      </div>
      <div class="form-group">
        <!-- <label for="id">Id:</label> -->
        <input 
          type="hidden"
          class="form-control"
          id="id"
          formControlName="id">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input 
          type="text" 
          class="form-control"
          id="address"
          formControlName="address">
          <span 
          class="help-block">
          <span
          *ngIf="!signUpForm.get('address').valid && signUpForm.get('address').touched"
          class="help-block">Please enter Address!</span>

        </span>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input 
          type="text" 
          class="form-control"
          id="phone"
          formControlName="phone">
          <span 
          class="help-block">
          <span
          *ngIf="!signUpForm.get('phone').valid && signUpForm.get('phone').touched"
          class="help-block">Please enter Phone!</span>
        </span>
      </div>      
      
      <div class="form-group">
        <label for="govid">Government Id:</label>
        <input 
          type="text" 
          class="form-control"
          id="govid"
          formControlName="govid">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input 
          type="text" 
          class="form-control"
          id="amount"
          formControlName="amount">
          <span 
          *ngIf="!signUpForm.get('amount').valid && signUpForm.get('amount').touched"
          class="help-block">Please enter only digits!</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="text" 
          class="form-control"
          id="email"
          formControlName="email">
          <span 
          *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
          class="help-block">Please enter valid Email!</span>
      </div>
      <div class="form-group">
        <label for="datepicker">Date of Birth</label>
        <input 
          type="date" 
          class="form-control"
          id="dob"
          formControlName="dob">
          <span 
          *ngIf="!signUpForm.get('dob').valid && signUpForm.get('dob').touched"
          class="help-block">Please enter Date of Birth!</span>
      </div>
      <div class="form-group">
        <label for="doj">Date of Join</label>
        <input 
          type="date" 
          class="form-control"
          id="doj"
          formControlName="doj">
      </div>
      <div class="form-group">
        <label for="blockid">Block Id:</label>
        <select class = "form-control" name="branch-selection" id="blockid" #b (change)= "changeBranch($event)" formControlName="blockid">
          <option value="" disabled>Select branch</option>
          <option *ngFor = "let branch of branches" [value]="branch.bid">{{branch.bname}}</option>
        </select>
        <!-- <input 
          type="text" 
          class="form-control"
          id="blockid"
          formControlName="blockid"> -->
          <span 
      *ngIf="!signUpForm.get('blockid').valid && signUpForm.get('blockid').touched"
      class="help-block">Please select branch!</span>
      </div>
      <div class="form-group">
        <label for="roomno">Room Number:</label>
        <select class = "form-control" name="room-selection" id="roomno" (change)= "selectRoom($event)" formControlName="roomno">
          <option value="" disabled>Select room</option>
          <option *ngFor = "let room of rooms" [ngValue]="room.roomId">{{room.roomNo}}</option>
        </select>
        <!-- <input 
          type="text" 
          class="form-control"
          id="roomno"
          formControlName="roomno"> -->
      </div>

      <button [disabled]="!signUpForm.valid" class="btn btn-primary" type="submit" *ngIf="!enableUpdateBtn">Register</button>
      <button [disabled]="!signUpForm.valid" class="btn btn-primary" type="submit" *ngIf="enableUpdateBtn">Update</button>
      &nbsp;&nbsp;&nbsp;<button class="btn btn-warning" type="reset">Reset</button>
      <br><br>
      <span 
      *ngIf="signUpForm.invalid && signUpForm.touched"
      class="help-block">Please enter valid data!</span>
    </form>
  </div>
</div>
